h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 70px;
    color: #ffffff;
    letter-spacing: .1em;
    position: relative;
    top: -250px;
    margin-bottom: -100px;
}

h2:before,
h2:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: white;
    margin: 6px auto 8px auto;
}

.introducao-produtos {
    background: url("../img/bg-produtos.jpg") no-repeat center;
}

.produto-item {
    padding-top: 60px;
}

.icon-prod {
    background-color: #000000;
    padding: 70px 0;
}

.icon-prod img {
    margin: 0 auto;
}

.produto-info {
    background: #000000;
}

.produto-info p {
    color: white;
    font-size: 18px;
    line-height: 25px;
    padding: 30px 40px;
    height: 180px;
}

.produto-info ul li {
    background-color: #fec63f;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    float: left;
    width: 229px;
    height: 49px;
    text-align: center;
    padding-top: 16px;

}

.produto-info ul li:first-child {
    margin-bottom: 2px;
}

.produto-info ul li:nth-child(odd) {
    margin-right: 2px;
}


/* ORÇAMENTO */
.orcamento {
    background: #000000;
    width: 100%;
    margin-top: 60px;
    padding: 40px 0;
}

.orcamento h3 {
    color: #fec63f
}

.orcamento h3::after {
    background: #fec63f
}

.form {
    padding: 0 40px;
}

.form label {
    display: block;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
}

.form input {
    display: block;
    width: 100%;
    background: none;
    border: 4px solid #fec63f;
    color: #ffffff;
    padding: 7px 10px;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    margin-bottom: 10px;
}

.form textarea {
    display: block;
    width: 100%;
    background: none;
    border: 4px solid #fec63f;
    color: #ffffff;
    padding: 7px 10px;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    margin-bottom: 10px;
    height: 120px;
}

.form button {
    background: none;
    padding: 7px 40px;
}


.dados-orcamento {
    color: #ffffff;
}

.dados-orcamento h4 {
    font-size: 18px;
    text-transform: uppercase;
    color: #fec63f;
    line-height: 25px;
    font-weight: bold;

}

.dados-orcamento span {
    display: block;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;

}

.dados-orcamento span:nth-of-type(2) {
    margin-bottom: 40px;
}


.dados-orcamento ul {
    padding-right: 60px;

}

.dados-orcamento ul li {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 15px;
}

.dados-orcamento ul li:nth-child(odd) {
    background: #1d1d1d
}

.dados-orcamento p {
    margin: 8px 0;
}